flows/Order_Refund_Credit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>GC_Refund_Choice</name>
        <choiceText>Gift Card (Refund)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GiftCardRefund_Answer</elementReference>
        </value>
    </choices>
    <choices>
        <name>GC_To_Tender</name>
        <choiceText>Gift Card to Original Tender</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GiftCardtoOriginalTender_Answer</elementReference>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>--Select One--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Not_Received_Choice</name>
        <choiceText>Order Not Received</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>OrderNotReceived_Answer</elementReference>
        </value>
    </choices>
    <choices>
        <description>Price Adjustment</description>
        <name>Price_Adjustment_Choice</name>
        <choiceText>Price Adjustment</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Promo_Questions_Problem_Choice</name>
        <choiceText>Promo Questions/Problem</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Promo_Questions_Problem_Answer</elementReference>
        </value>
    </choices>
    <choices>
        <name>Return_Problem_Choice</name>
        <choiceText>Return Problem</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Return_Problem_Answer</elementReference>
        </value>
    </choices>
    <choices>
        <name>Shipping_Choice_1</name>
        <choiceText>Express shipment did not arrive on time</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Shipping_Fee_Answer_1</elementReference>
        </value>
    </choices>
    <choices>
        <name>Shipping_Choice_2</name>
        <choiceText>Bay PLCC/Mastercard Holder</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Shipping_Fee_Reason_2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Shipping_Choice_3</name>
        <choiceText>Order amount over free shipping threshold</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Shipping_Fee_Reason_3</elementReference>
        </value>
    </choices>
    <choices>
        <name>Shipping_Choice_4</name>
        <choiceText>Promo code error</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Shipping_Fee_Reason_4</elementReference>
        </value>
    </choices>
    <choices>
        <name>Shipping_Choice_5</name>
        <choiceText>One-time courtesy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-time courtesy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Fee_Choice</name>
        <choiceText>Shipping Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Shipping_Fee_Answer</elementReference>
        </value>
    </choices>
    <choices>
        <name>Tax_Exclusion_Choice</name>
        <choiceText>Tax Exclusion</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Tax_Exclusion_Answer</elementReference>
        </value>
    </choices>
    <choices>
        <name>Wrong_Order_Received_Choice</name>
        <choiceText>Wrong Order Received</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Wrong_Order_Received_Answer</elementReference>
        </value>
    </choices>
    <choices>
        <name>Zero</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <constants>
        <name>Gift_Card_Record_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122E000000lNYW</stringValue>
        </value>
    </constants>
    <constants>
        <name>GiftCardRefund_Answer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gift Card (Refund)</stringValue>
        </value>
    </constants>
    <constants>
        <name>GiftCardtoOriginalTender_Answer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gift Card to Original Tender</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrderNotReceived_Answer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Not Received</stringValue>
        </value>
    </constants>
    <constants>
        <name>Price_Adjustment_Record_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122E000000lNYX</stringValue>
        </value>
    </constants>
    <constants>
        <name>Promo_Questions_Problem_Answer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Promo Questions/Problem</stringValue>
        </value>
    </constants>
    <constants>
        <name>Refund_Credit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Refunds/Credits</stringValue>
        </value>
    </constants>
    <constants>
        <name>Return_Problem_Answer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Return Problem</stringValue>
        </value>
    </constants>
    <constants>
        <name>Shipping_Fee_Answer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Fee</stringValue>
        </value>
    </constants>
    <constants>
        <name>Shipping_Fee_Answer_1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Express shipment did not arrive on time</stringValue>
        </value>
    </constants>
    <constants>
        <name>Shipping_Fee_Reason_2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Bay PLCC/Mastercard Holder</stringValue>
        </value>
    </constants>
    <constants>
        <name>Shipping_Fee_Reason_3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Order amount over free shipping threshold</stringValue>
        </value>
    </constants>
    <constants>
        <name>Shipping_Fee_Reason_4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Promo code error</stringValue>
        </value>
    </constants>
    <constants>
        <name>Shipping_Fee_Reason_5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>One-time courtesy</stringValue>
        </value>
    </constants>
    <constants>
        <name>Shipping_Record_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122E000000lNYY</stringValue>
        </value>
    </constants>
    <constants>
        <name>Tax_Exclusion_Answer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Exclusion</stringValue>
        </value>
    </constants>
    <constants>
        <name>Wrong_Order_Received_Answer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wrong Order Received</stringValue>
        </value>
    </constants>
    <decisions>
        <name>BU_Validation</name>
        <label>BU Validation</label>
        <locationX>328</locationX>
        <locationY>1145</locationY>
        <defaultConnector>
            <targetReference>Select_ORC_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Unit_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CASE_BU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Unit_Error</targetReference>
            </connector>
            <label>Business Unit Null</label>
        </rules>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_Error_Screen</targetReference>
            </connector>
            <label>Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmation_Redirect</name>
        <label>Confirmation Redirect</label>
        <locationX>1972</locationX>
        <locationY>702</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redirect_Defective_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defective Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Defective_item</targetReference>
            </connector>
            <label>Defective Item</label>
        </rules>
        <rules>
            <name>Redirect_Wrong_Item_Received</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Order Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Item Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Wrong_item_Received</targetReference>
            </connector>
            <label>Wrong Item Received</label>
        </rules>
        <rules>
            <name>Redirect_Order_Not_Received</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Not Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Order_Not_Received</targetReference>
            </connector>
            <label>Order Not Received</label>
        </rules>
        <rules>
            <name>Redirect_Return_Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Return_Problem</targetReference>
            </connector>
            <label>Return Problem</label>
        </rules>
        <rules>
            <name>Redirect_Shipping_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjustment_Confirmation_Shipping_Fee</targetReference>
            </connector>
            <label>Shipping Fee</label>
        </rules>
        <rules>
            <name>Missing_Item_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing Items</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Missing_Item</targetReference>
            </connector>
            <label>Missing Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmation_Redirect_Price</name>
        <label>Confirmation Redirect</label>
        <locationX>2133</locationX>
        <locationY>1939</locationY>
        <defaultConnector>
            <targetReference>Flow_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_Adjustment_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Adjustment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Price_Adjustment</targetReference>
            </connector>
            <label>Price Adjustment</label>
        </rules>
        <rules>
            <name>Price_Override_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Override</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Price_Override</targetReference>
            </connector>
            <label>Price Override</label>
        </rules>
        <rules>
            <name>Promo_Code_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promo Questions/Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Promo_Questions_Problem</targetReference>
            </connector>
            <label>Promo Questions/Problem</label>
        </rules>
        <rules>
            <name>Price_Match_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Price_Match</targetReference>
            </connector>
            <label>Price Match</label>
        </rules>
        <rules>
            <name>Gift_Card_to_Original_Tender_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gift Card to Original Tender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ORC_Update_Gift_Card_to_Original_Tender</targetReference>
            </connector>
            <label>Gift Card to Original Tender</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Gift_Card_Amount</name>
        <label>Gift Card Amount</label>
        <locationX>1788</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Redirect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Gift_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_Validation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Gift_Card_Error</targetReference>
            </connector>
            <label>Error - Gift Card</label>
        </rules>
        <rules>
            <name>Error_Percent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Percent_Validation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Percent_Error</targetReference>
            </connector>
            <label>Error - Percent</label>
        </rules>
        <rules>
            <name>Error_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Price_Validation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Price_Error</targetReference>
            </connector>
            <label>Error - Price</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Price_Validation</name>
        <label>Price Validation</label>
        <locationX>1988</locationX>
        <locationY>1944</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Redirect_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Price_Validation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Price_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Full_Order_Refund_Reason</name>
        <label>Full Order Refund Reason</label>
        <locationX>635</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>Re_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Full_Order</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>ORC_Item_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defective Item</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing Items</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Item Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Override</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Full_Order_Instructions</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mandatory_Fields</name>
        <label>Mandatory Fields</label>
        <locationX>1655</locationX>
        <locationY>1674</locationY>
        <defaultConnector>
            <targetReference>ORC_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Mandatory_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Reason_for_gift_card_change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Fields_Gift_Card</targetReference>
            </connector>
            <label>Missing Mandatory Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mandatory_Fields_Missing_Item</name>
        <label>Mandatory Fields</label>
        <locationX>1512</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Decision_Gift_Card_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Mandatory_Field2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Method_Order_Not_Recived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shipping_Method_Missing_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Missting_Fields_Missing_Item</targetReference>
            </connector>
            <label>Missing Mandatory Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Field_Return_Problem</name>
        <label>Missing Field</label>
        <locationX>1635</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Decision_Gift_Card_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Missing_Field_Return_Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Method_Return_Problem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Missing_Field_Return_Problem</targetReference>
            </connector>
            <label>Missing Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Field_Shipping_Fee</name>
        <label>Missing Field</label>
        <locationX>1423</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>Decision_Gift_Card_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Missing_Field_Shipping_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Reason_shipping_fee_credit_Shipping_Fee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Missing_Field_Shipping_Fee</targetReference>
            </connector>
            <label>Missing Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Fields_Price_Override</name>
        <label>Missing Fields</label>
        <locationX>1872</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Decision_Price_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Price_Override_Reason_Price_Override</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Missing_Field_Price_Override</targetReference>
            </connector>
            <label>Missing Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Refund_Credit_Assignment</name>
        <label>Order Refund Credit Assignment</label>
        <locationX>1184</locationX>
        <locationY>1188</locationY>
        <defaultConnector>
            <targetReference>Flow_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gift_Card_Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gift Card (Refund)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Gift_Card_Refund</targetReference>
            </connector>
            <label>Gift Card Refund</label>
        </rules>
        <rules>
            <name>Price_Adjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Adjustment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Price_Adjustment</targetReference>
            </connector>
            <label>Price Adjustment</label>
        </rules>
        <rules>
            <name>Defective_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defective Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Defective_Item</targetReference>
            </connector>
            <label>Defective Item</label>
        </rules>
        <rules>
            <name>Missing_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing Items</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Missing_Item</targetReference>
            </connector>
            <label>Missing Items</label>
        </rules>
        <rules>
            <name>Wrong_Item_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Item Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Wrong_Item_Received</targetReference>
            </connector>
            <label>Wrong Item Received</label>
        </rules>
        <rules>
            <name>Shipping_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Shipping_Fee</targetReference>
            </connector>
            <label>Shipping Fee</label>
        </rules>
        <rules>
            <name>Gift_Card_Appeasement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gift Card (appeasement)</stringValue>
                </rightValue>
            </conditions>
            <label>Gift Card Appeasement</label>
        </rules>
        <rules>
            <name>Wrong_Order_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Order Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Wrong_Item_Received</targetReference>
            </connector>
            <label>Wrong Order Received</label>
        </rules>
        <rules>
            <name>Price_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Price_Match</targetReference>
            </connector>
            <label>Price Match</label>
        </rules>
        <rules>
            <name>Price_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Override</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Price_Override</targetReference>
            </connector>
            <label>Price Override</label>
        </rules>
        <rules>
            <name>Tax_Exclusion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Exclusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Tax_Exclusion</targetReference>
            </connector>
            <label>Tax Exclusion</label>
        </rules>
        <rules>
            <name>Order_Not_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Not Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Order_Not_Received</targetReference>
            </connector>
            <label>Order Not Received</label>
        </rules>
        <rules>
            <name>Promo_Questions_Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promo Questions/Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Promo_Questions_Problem</targetReference>
            </connector>
            <label>Promo Questions/Problem</label>
        </rules>
        <rules>
            <name>Return_Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Return_Problem</targetReference>
            </connector>
            <label>Return Problem</label>
        </rules>
        <rules>
            <name>Gift_Card_to_Original_Tender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gift Card to Original Tender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Gift_card_to_Original_Tender</targetReference>
            </connector>
            <label>Gift Card to Original Tender</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Adjustment_Validation</name>
        <label>Price Adjustment Validation</label>
        <locationX>1588</locationX>
        <locationY>1855</locationY>
        <defaultConnector>
            <targetReference>Decision_Price_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Error_Price_Adjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Discount_Percent_Price_Adjustment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Manual_Adjustment_Price_Adjustment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Both_Discount_True_Price_Adjustement</targetReference>
            </connector>
            <label>Both Null</label>
        </rules>
        <rules>
            <name>Both_Completed_Error_Price_Adjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Discount_Percent_Price_Adjustment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Manual_Adjustment_Price_Adjustment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Both_Discount_True_Price_Adjustement</targetReference>
            </connector>
            <label>Both Completed</label>
        </rules>
        <rules>
            <name>Full_Order_Price_Adjusment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ORC_Item_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Manual_Adjustment_Price_Adjustment</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Full_Order_Price_Adjustment_Error</targetReference>
            </connector>
            <label>Full Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_Validation</name>
        <label>Quantity Validation</label>
        <locationX>1095</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>Mandatory_Fields_Missing_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity_Not_Received_Missing_Item</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ORC_Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quantity_Error_Screen</targetReference>
            </connector>
            <label>Quantity Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_Order</name>
        <label>Re-Order</label>
        <locationX>755</locationX>
        <locationY>1185</locationY>
        <defaultConnector>
            <targetReference>Order_Refund_Credit_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Re_Order_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defective Item</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Item Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Order Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Not Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Order_Instructions</targetReference>
            </connector>
            <label>Re-Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refund_Type_Validation_Confirmation</name>
        <label>Refund Type Validation</label>
        <locationX>3501</locationX>
        <locationY>1368</locationY>
        <defaultConnector>
            <targetReference>screen_Refund_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tax_Exclusion_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Exclusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Tax_Confirmation</targetReference>
            </connector>
            <label>Tax Exclusion</label>
        </rules>
    </decisions>
    <description>Allow for quantity for missing items and validate for closed case</description>
    <dynamicChoiceSets>
        <name>Gift_Card_Amount</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gift_Card_Amount__c</picklistField>
        <picklistObject>Order_Refund_Credit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gift_Card_Change_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Gift_Card_Change__c</picklistField>
        <picklistObject>Order_Refund_Credit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Method_Payment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Method_of_Payment__c</picklistField>
        <picklistObject>Order_Refund_Credit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Order_Credit_Reason_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason__c</picklistField>
        <picklistObject>Order_Refund_Credit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Price_Override_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Price_Override_Reason__c</picklistField>
        <picklistObject>Order_Refund_Credit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Shipping_Method</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shipping_Method__c</picklistField>
        <picklistObject>Order_Refund_Credit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tax_Exclusion_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tax_Exclusion_Reason__c</picklistField>
        <picklistObject>Order_Refund_Credit__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Adjusted_Price_Price_Adjustment</name>
        <dataType>Currency</dataType>
        <expression>{!ORC_Amount_Charged}-({!ORC_Amount_Charged}*({!Form_Discount_Percent_Price_Adjustment}/100))-{!Form_Manual_Adjustment_Price_Adjustment}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Adjusted_Price_Promo_Question</name>
        <dataType>Currency</dataType>
        <expression>{!ORC_Amount_Charged}-({!ORC_Amount_Charged}*({!Form_Discount_Percent_Promo}/100))-{!Form_Manual_Adjustment_Promo}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Amount_Refund_Defective_Item</name>
        <dataType>Currency</dataType>
        <expression>IF({!Form_Discount_Percent_Defective_Item}&gt;0,{!ORC_Amount_Charged}*{!Form_Discount_Percent_Defective_Item}/100,0)+if({!Form_Manual_Adjustment_Defective_Item}&gt;0,{!Form_Manual_Adjustment_Defective_Item},0)+ {!ORC_Shipping_Fee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Amount_Refund_Promo</name>
        <dataType>Currency</dataType>
        <expression>{!ORC_Amount_Charged}-{!Adjusted_Price_Promo_Question}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Amount_Refund_Promo_Code</name>
        <dataType>Currency</dataType>
        <expression>IF({!Form_Discount_Percent_Promo}&gt;0,({!ORC_Amount_Charged}*{!Form_Discount_Percent_Promo}/100),0)+
if({!Form_Manual_Adjustment_Promo}&gt;0,{!Form_Manual_Adjustment_Promo},0)+ {!ORC_Shipping_Fee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Amount_Refund_Return_Problem</name>
        <dataType>Currency</dataType>
        <expression>if({!Form_Discount_Percent_Return_Problem}&gt;0,({!ORC_Amount_Charged}*{!Form_Discount_Percent_Return_Problem}/100),0)+{!ORC_Shipping_Fee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Amount_Refund_Shipping_Fee</name>
        <dataType>Currency</dataType>
        <expression>{!ORC_Amount_Charged}*{!Form_Discount_Percent_Shipping_Fee}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Amount_Refund_Wrong_Item</name>
        <dataType>Currency</dataType>
        <expression>if({!Form_Discount_Percent_Wrong_Item}&gt;0,{!ORC_Amount_Charged}*{!Form_Discount_Percent_Wrong_Item}/100,0)+ {!ORC_Shipping_Fee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CC_Amount_Confirmation</name>
        <dataType>String</dataType>
        <expression>If ( {!ORC_CC_Amount_Refund}&gt;0, {!Text_CC_Amount_Confirmation},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>GC_Amount_Confirmation</name>
        <dataType>String</dataType>
        <expression>if({!ORC_New_GC_Amount}&gt;0,{!Text_GC_Amount_Confirmation},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Gift_Card_Validation</name>
        <dataType>Boolean</dataType>
        <expression>OR(
(OR ({!Form_Gift_Card_Amount_Defective_Item} = &quot;50&quot;,
{!Form_Gift_Card_Amount_Return_Problem} = &quot;50&quot;,
{!Form_Gift_Card_Amount_Shipping_Fee}= &quot;50&quot;,
{!Form_Gift_Card_Amount_Wrong_Item}= &quot;50&quot;) &amp;&amp; {!ORC_Amount_Charged}&lt;300),

(OR ({!Form_Gift_Card_Amount_Defective_Item} = &quot;75&quot;,
{!Form_Gift_Card_Amount_Return_Problem} = &quot;75&quot;,
{!Form_Gift_Card_Amount_Shipping_Fee}= &quot;75&quot;,
{!Form_Gift_Card_Amount_Wrong_Item}= &quot;75&quot;) &amp;&amp; {!ORC_Amount_Charged}&lt;500),

(OR ({!Form_Gift_Card_Amount_Defective_Item} = &quot;100&quot;,
{!Form_Gift_Card_Amount_Return_Problem} = &quot;100&quot;,
{!Form_Gift_Card_Amount_Shipping_Fee}= &quot;100&quot;,
{!Form_Gift_Card_Amount_Wrong_Item}= &quot;100&quot;) &amp;&amp; {!ORC_Amount_Charged}&lt;1000))</expression>
    </formulas>
    <formulas>
        <name>More_30_Days</name>
        <dataType>String</dataType>
        <expression>if(today()-{!ORC_Date_OF_Sale}&lt;30,&quot;&quot;,&quot;ORDER PLACED MORE THAN 30 DAYS AGO&quot;)</expression>
    </formulas>
    <formulas>
        <name>New_Total_Price_Missing_Item</name>
        <dataType>Currency</dataType>
        <expression>{!ORC_Amount_Charged}-({!ORC_Amount_Charged_Item}*{!Quantity_Not_Received_Missing_Item})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Total_Price_Price_Adjustment</name>
        <dataType>Currency</dataType>
        <expression> if({!Form_Manual_Adjustment_Price_Adjustment}&gt;1,({!Form_Manual_Adjustment_Price_Adjustment}* {!ORC_Quantity}),0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Total_Price_Price_Match</name>
        <dataType>Currency</dataType>
        <expression>{!Price_Override_Price_Match}*{!ORC_Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Total_Price_Price_Override</name>
        <dataType>Currency</dataType>
        <expression>{!Price_Override_Price_Override}* {!ORC_Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Percent_Validation</name>
        <dataType>Boolean</dataType>
        <expression>OR ({!Form_Discount_Percent_Shipping_Fee} &gt; 20,
{!Form_Discount_Percent_Defective_Item} &gt; 20, 
{!Form_Discount_Percent_Wrong_Item}&gt;20,
{!Form_Discount_Percent_Return_Problem}&gt; 20)</expression>
    </formulas>
    <formulas>
        <name>Price_Validation</name>
        <dataType>Boolean</dataType>
        <expression>OR ({!Price_Override_Price_Match} &gt; {!ORC_Amount_Charged},
{!Gift_Card_Balance_Gift_Card_Original} &gt; {!ORC_Amount_Charged},
{!Price_Override_Price_Override} &gt; {!ORC_Amount_Charged},
If({!Form_Manual_Adjustment_Promo}&gt;0,{!Form_Manual_Adjustment_Promo},0)+if({!Form_Discount_Percent_Promo}&gt;0,({!ORC_Amount_Charged}*{!Form_Discount_Percent_Promo}/100),0)&gt; {!ORC_Amount_Charged},
If({!Form_Manual_Adjustment_Price_Adjustment}&gt;0,{!Form_Manual_Adjustment_Price_Adjustment},0)+if({!Form_Discount_Percent_Price_Adjustment}&gt;0,({!ORC_Amount_Charged}*{!Form_Discount_Percent_Price_Adjustment}/100),0)+if({!Form_Credit_Shipping_Fee_Price_Adjustment}=TRUE,{!ORC_Shipping_Fee},0)&gt; {!ORC_Amount_Charged},
If({!Form_Manual_Adjustment_Defective_Item}&gt;0,{!Form_Manual_Adjustment_Defective_Item},0)+if({!Form_Discount_Percent_Defective_Item}&gt;0,({!ORC_Amount_Charged}*{!Form_Discount_Percent_Defective_Item}/100),0)+if({!Form_Gift_Card_Amount_Defective_Item}&lt;&gt;&quot;None&quot;,value({!Form_Gift_Card_Amount_Defective_Item}),0)&gt; {!ORC_Amount_Charged})</expression>
    </formulas>
    <formulas>
        <name>Shipping_Fee_Confirmation</name>
        <dataType>String</dataType>
        <expression>if({!ORC_Credit_Shipping_Fee}=TRUE,{!Text_Shipping_Fee_Confirmation},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Test_Validation</name>
        <dataType>Number</dataType>
        <expression>(If({!Form_Manual_Adjustment_Defective_Item}&gt;0,{!Form_Manual_Adjustment_Defective_Item},0)+if({!Form_Discount_Percent_Defective_Item}&gt;0,({!ORC_Amount_Charged}*{!Form_Discount_Percent_Defective_Item}/100),0))+ if({!Form_Gift_Card_Amount_Defective_Item}&lt;&gt;&quot;None&quot;,value({!Form_Gift_Card_Amount_Defective_Item}),0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Order Refund Credit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Refund Credit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>205</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BU_Validation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ORC_Case</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CASE_BU</assignToReference>
            <field>Business_Unit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ORC_Information</name>
        <label>Get ORC Information</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>Order_Refund_Credit__c</object>
        <outputAssignments>
            <assignToReference>ORC_Amount_Charged_Item</assignToReference>
            <field>Amount_Charged_Item__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Amount_Charged</assignToReference>
            <field>Amount_Charged__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Amount_Charge_Credit_Card</assignToReference>
            <field>Amount_Charged_to_Credit_Card__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Amount_Charged_Gift_Card</assignToReference>
            <field>Amount_Charged_to_Gift_Card__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Case</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_CC_Alias</assignToReference>
            <field>Credit_Card_Alias__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Date_Returned</assignToReference>
            <field>Date_Package_was_Returned__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Date_OF_Sale</assignToReference>
            <field>Date_of_Sale__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Full_Credit_Card_Number</assignToReference>
            <field>Full_Credit_Card_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Item_Name</assignToReference>
            <field>Item_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Method_Of_Payment</assignToReference>
            <field>Method_of_Payment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_OMS_Transaction_Number</assignToReference>
            <field>OMS_Transaction_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Order_Number</assignToReference>
            <field>Order_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Quantity</assignToReference>
            <field>Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORCSKUNumber</assignToReference>
            <field>SKU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Shipping_Fee</assignToReference>
            <field>Shipping_Fee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_OMS_Status</assignToReference>
            <field>Status_in_OMS__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ORC_Update</name>
        <label>Get ORC Update</label>
        <locationX>3029</locationX>
        <locationY>1678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refund_Type_Validation_Confirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>Order_Refund_Credit__c</object>
        <outputAssignments>
            <assignToReference>ORC_CC_Amount_Refund</assignToReference>
            <field>CC_Amount_Refund__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Credit_Shipping_Fee</assignToReference>
            <field>Credit_Shipping_Fee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Discount</assignToReference>
            <field>Discount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_New_GC_Amount</assignToReference>
            <field>Final_Gift_Card_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ORC_Gift_Card_Amount</assignToReference>
            <field>Gift_Card_Amount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Case_Update</name>
        <label>Case Update</label>
        <locationX>2721</locationX>
        <locationY>1683</locationY>
        <connector>
            <targetReference>Get_ORC_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ORC_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>Refund_Credit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Update_Shipping_Fee</name>
        <label>Case Update - Shipping Fee</label>
        <locationX>2634</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ORC_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>Refund_Credit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <elementReference>Form_Reason_shipping_fee_credit_Shipping_Fee</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update</name>
        <label>ORC Update</label>
        <locationX>2379</locationX>
        <locationY>1544</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Gift_Card_Number__c</field>
            <value>
                <elementReference>Form_New_Gift_Card_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Gift_Card_Balance__c</field>
            <value>
                <elementReference>Form_Gift_Card_Balance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Gift_Card_Number__c</field>
            <value>
                <elementReference>Form_Gift_Card_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Gift_Card_Change__c</field>
            <value>
                <elementReference>Form_Reason_for_gift_card_change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Gift_Card_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Replacement_Gift_Card_Amount__c</field>
            <value>
                <elementReference>Form_Gift_Card_Balance</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Defective_item</name>
        <label>ORC Update Defective item</label>
        <locationX>2506</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Shipping_Fee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Form_Discount_Percent_Defective_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Card_Amount__c</field>
            <value>
                <elementReference>Form_Gift_Card_Amount_Defective_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Adjustment__c</field>
            <value>
                <elementReference>Form_Manual_Adjustment_Defective_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Price_Adjustment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>Form_Store_Defective_Item</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Gift_Card_to_Original_Tender</name>
        <label>ORC Update Gift Card to Original Tender</label>
        <locationX>2723</locationX>
        <locationY>2291</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Gift_Card_Balance__c</field>
            <value>
                <elementReference>Gift_Card_Balance_Gift_Card_Original</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Gift_Card_Number__c</field>
            <value>
                <elementReference>Gift_Card_Number_Gift_Card_Original</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Refund__c</field>
            <value>
                <elementReference>Gift_Card_Balance_Gift_Card_Original</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Gift_Card_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Missing_Item</name>
        <label>ORC Update Missing Item</label>
        <locationX>2467</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Shipping_Fee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Override__c</field>
            <value>
                <elementReference>New_Total_Price_Missing_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Not_Received__c</field>
            <value>
                <elementReference>Quantity_Not_Received_Missing_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Shipping_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Method__c</field>
            <value>
                <elementReference>Shipping_Method_Missing_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_Number__c</field>
            <value>
                <elementReference>Tracking_Number_Missing_Item</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Order_Not_Received</name>
        <label>ORC Update Order Not Received</label>
        <locationX>2405</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Shipping_Fee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Shipping_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Method__c</field>
            <value>
                <elementReference>Shipping_Method_Order_Not_Recived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_Number__c</field>
            <value>
                <elementReference>Tracking_Number_Order_Not_Received</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Price_Adjustment</name>
        <label>ORC Update Price Adjustment</label>
        <locationX>2385</locationX>
        <locationY>1683</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Shipping_Fee__c</field>
            <value>
                <elementReference>Form_Credit_Shipping_Fee_Price_Adjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Form_Discount_Percent_Price_Adjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Price__c</field>
            <value>
                <elementReference>Form_Manual_Adjustment_Price_Adjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Override__c</field>
            <value>
                <elementReference>New_Total_Price_Price_Adjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Price_Adjustment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Price_Match</name>
        <label>ORC Update Price Match</label>
        <locationX>2464</locationX>
        <locationY>1813</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Competitor_Name__c</field>
            <value>
                <elementReference>Competitor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Web_Site__c</field>
            <value>
                <elementReference>Competitor_Website_Price_Match</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Price__c</field>
            <value>
                <elementReference>Price_Override_Price_Match</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Override__c</field>
            <value>
                <elementReference>New_Total_Price_Price_Match</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Price_Adjustment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Price_Override</name>
        <label>ORC Update Price Override</label>
        <locationX>2499</locationX>
        <locationY>1975</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Price__c</field>
            <value>
                <elementReference>Price_Override_Price_Override</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Override_Reason__c</field>
            <value>
                <elementReference>Price_Override_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Override__c</field>
            <value>
                <elementReference>New_Total_Price_Price_Override</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Price_Adjustment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Promo_Questions_Problem</name>
        <label>ORC Update Promo Questions/Problem</label>
        <locationX>2641</locationX>
        <locationY>2163</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Form_Discount_Percent_Promo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Adjustment__c</field>
            <value>
                <elementReference>Form_Manual_Adjustment_Promo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Code__c</field>
            <value>
                <elementReference>Form_Promo_Code_Promo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Date__c</field>
            <value>
                <elementReference>Form_Promo_Date_Promo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Price_Adjustment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Return_Problem</name>
        <label>ORC Update Return Problem</label>
        <locationX>2339</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Shipping_Fee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Package_was_Returned__c</field>
            <value>
                <elementReference>Date_Package_was_Returned_Return</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Form_Discount_Percent_Return_Problem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Card_Amount__c</field>
            <value>
                <elementReference>Form_Gift_Card_Amount_Return_Problem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Shipping_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Method__c</field>
            <value>
                <elementReference>Shipping_Method_Return_Problem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_Number__c</field>
            <value>
                <elementReference>Tracking_Number_Return_Problem</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Shipping_Fee</name>
        <label>ORC Update Shipping Fee</label>
        <locationX>2332</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Case_Update_Shipping_Fee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Shipping_Fee__c</field>
            <value>
                <elementReference>Form_Credit_Shipping_Fee_Shipping_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Form_Discount_Percent_Shipping_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Card_Amount__c</field>
            <value>
                <elementReference>Form_Gift_Card_Amount_Shipping_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Price_Adjustment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Tax_Exclusion</name>
        <label>ORC Update Tax Exclusion</label>
        <locationX>2832</locationX>
        <locationY>2440</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Price_Adjustment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Exclusion_Code__c</field>
            <value>
                <elementReference>Form_Tax_Exclusion_Code_TaxExclusion</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ORC_Update_Wrong_item_Received</name>
        <label>ORC Update Wrong item Received</label>
        <locationX>2571</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Shipping_Fee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name_on_Order_Received__c</field>
            <value>
                <elementReference>Form_Customer_Name_on_Order_Received_Wrong_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Form_Discount_Percent_Wrong_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Card_Amount__c</field>
            <value>
                <elementReference>Form_Gift_Card_Amount_Wrong_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number_Received__c</field>
            <value>
                <elementReference>Form_Order_Number_Received_Wrong_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Form_Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Price_Adjustment_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU_Received__c</field>
            <value>
                <elementReference>SKU_Received1_Wrong_Item_Received</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Refund_Credit__c</object>
    </recordUpdates>
    <screens>
        <name>Adjustment_Confirmation_Shipping_Fee</name>
        <label>Adjustment Confirmation</label>
        <locationX>2120</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ORC_Update_Shipping_Fee</targetReference>
        </connector>
        <fields>
            <name>Display_Confirmation_Shipping_Fee</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Adjustment Confirmation&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We will credit your  shipping fee of &lt;b style=&quot;font-size: 0.8125rem;&quot;&gt;{!ORC_Shipping_Fee}&lt;/b&gt;&lt;span style=&quot;font-size: 0.8125rem;&quot;&gt; and any applicable taxes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;If applicable&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;We will also credit you the amount of  &lt;/i&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 0.8125rem; color: rgb(62, 62, 60);&quot;&gt;{!Amount_Refund_Shipping_Fee} &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 0.8125rem; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;OR&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 0.8125rem; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Issue a gift card in the amount of $&lt;/span&gt;&lt;b style=&quot;font-size: 0.8125rem; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Form_Gift_Card_Amount_Shipping_Fee}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You will receive an email from us when we process it and it will show in you account 15 business days after that. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Business_Unit_Error</name>
        <label>Business Unit Error</label>
        <locationX>213</locationX>
        <locationY>986</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ORC_Information</targetReference>
        </connector>
        <fields>
            <name>Business_Unit_Error_Display</name>
            <fieldText>&lt;p&gt;The case associated to this ORC request doesn&apos;t have a Business Unit defined. Please Complete the business unit on the case before clicking &lt;b&gt;Next&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Closed_Error_Screen</name>
        <label>Case Closed Error</label>
        <locationX>252</locationX>
        <locationY>1359</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ORC_Information</targetReference>
        </connector>
        <fields>
            <name>Case_Closed_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The case associated to this ORC request is closed. You can&apos;t create an ORC on a closed case. Update the case status before clicking &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Next.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Gift_Card_Error</name>
        <label>Gift Card Error</label>
        <locationX>1776</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Gift_Card_Error</name>
            <fieldText>&lt;p&gt;The gift card amount is not in line with the policy. Click &lt;b&gt;&lt;u&gt;Previous &lt;/u&gt;&lt;/b&gt;to set a new amount.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Gift Card Guidelines&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Order of $0 - $300 = $25 Gift Card&lt;/p&gt;&lt;p&gt;Order of $301 - $500 =$50 Gift Card&lt;/p&gt;&lt;p&gt;Order of $501 - $999	= $75 Gift Card&lt;/p&gt;&lt;p&gt;Order of $1000 and above =$100 Gift Card&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Percent_Error</name>
        <label>Percent Error</label>
        <locationX>1791</locationX>
        <locationY>861</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Percent</name>
            <fieldText>&lt;p&gt;Discount % cannot be greater than 20%. Click &lt;b&gt;Previous &lt;/b&gt;to go back and adjust discount.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Price_Error</name>
        <label>Price Error</label>
        <locationX>2056</locationX>
        <locationY>1789</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Price_Error_Message</name>
            <fieldText>&lt;p&gt;The price adjustment is is greater than the amount sold. Click &lt;b&gt;Previous &lt;/b&gt;to set a new amount&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>1739</locationX>
        <locationY>1301</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Flow_Error</name>
            <fieldText>&lt;p&gt;An error occurred in the flow. Please click Previous and try again. If the problem persist please contact your System Administrator. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Full_Order_Instructions</name>
        <label>Full Order Instructions</label>
        <locationX>644</locationX>
        <locationY>784</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_Full_error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You selected &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; as the refund reason but only the ORC reasons listed below are valid for a full order refund. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Either click &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Previous &lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;to set select another reason or initial an ORC at the order line item level. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Gift Card Refund&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Gift Card to Original Tender&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Order Not Received&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Price Adjustments&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Promo Code Question/Problem&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Return Problem&lt;/p&gt;&lt;p&gt;Shipping Fee&lt;/p&gt;&lt;p&gt;Tax Exclusion&lt;/p&gt;&lt;p&gt;Wrong Order Received&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Full_Order_Price_Adjustment_Error</name>
        <label>Full Order Price Adjustment Error</label>
        <locationX>1802</locationX>
        <locationY>1727</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Full_Order_Price_Adjustment_Error</name>
            <fieldText>&lt;p&gt;You can only apply a %Discount when making a Price Adjustment on a Full Order&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Previous &lt;/b&gt;to go back and make the correction.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Fields_Gift_Card</name>
        <label>Missing Fields</label>
        <locationX>1637</locationX>
        <locationY>1529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Gift_Card_Refund</targetReference>
        </connector>
        <fields>
            <name>Display_Missing_Field_Gift_Card</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!MissingMandatoryField}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quantity_Error_Screen</name>
        <label>Quantity Error</label>
        <locationX>888</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quantity_Error_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Number of items missing can&apos;t be more than the quantity purchased. Click &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Previous &lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;to set a new amount.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Re_Order_Instructions</name>
        <label>Re-Order Instructions</label>
        <locationX>983</locationX>
        <locationY>1025</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Order_Refund_Credit_Assignment</targetReference>
        </connector>
        <fields>
            <name>Re_Order_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Before issuing a Refund or Credit you must confirm with the customer if they want to Re-Order.  If yes, follow these steps&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Copy the existing case and generate a new order from the new case.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Make sure to:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Upgrade and waive shipping fee on the replacement order&lt;/li&gt;&lt;li&gt;Any promotions used on the original order, please match on the second order&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The Original shipping fee of &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ORC_Shipping_Fee} &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;will be credited. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Both_Discount_True_Price_Adjustement</name>
        <label>Both Discount True Error</label>
        <locationX>1935</locationX>
        <locationY>1809</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Dsiplay_Price_Adjustement_Error</name>
            <fieldText>&lt;p&gt;You have to complete one form of adjustment (discount or manual adjustment) only. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Previous to go back and make the correction.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Defective_Item</name>
        <label>Defective Item</label>
        <locationX>1286</locationX>
        <locationY>796</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Gift_Card_Amount</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Defective_Item</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Amount_Charged_Defective_Item</name>
            <fieldText>&lt;p&gt;Amount Charged&lt;/p&gt;&lt;p&gt;{!ORC_Amount_Charged}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Shipping Fee of {!ORC_Shipping_Fee} will be credited.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Store_Defective_Item</name>
            <dataType>String</dataType>
            <fieldText>Store</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>MHF Only</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Defective_item_Guidelines</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Escalated Accommodation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 3, 3);&quot;&gt;Loyalty Tier : Regular, Basic or Associate/Retiree&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;If customer decides to keep the item:&lt;ul&gt;&lt;li&gt;Credit 10% off the original order (customer must provide a picture)&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;If the customer decides to keep the item, and is paying for cleaning:&lt;ul&gt;&lt;li&gt;Credit the customer for the cleaning cost (customer must provide a copy of the receipt)&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;If the call escalates:&lt;ul&gt;&lt;li&gt;Offer a gift card.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 3, 3);&quot;&gt;Loyalty Tier : PLCC non-Premier or Plus&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;If customer decides to keep the item:&lt;ul&gt;&lt;li&gt;Credit 10% or&amp;nbsp;up to 15% off the original order (customer must provide a picture)&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;If the customer decides to keep the item, and is paying for cleaning:&lt;ul&gt;&lt;li&gt;Credit the customer for the cleaning cost (customer must provide a copy of the receipt)&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;If the call escalates:&lt;ul&gt;&lt;li&gt;Offer a gift card.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 3, 3); background-color: rgb(255, 255, 255);&quot;&gt;Loyalty Tier : Premier or VIP&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;If customer decides to keep the item:&lt;ul&gt;&lt;li&gt;Credit 10% or&amp;nbsp;up to 20% off the original order (customer must provide a picture)&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;If the customer decides to keep the item, and is paying for cleaning:&lt;ul&gt;&lt;li&gt;Credit the customer for the cleaning cost (customer must provide a copy of the receipt)&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;If the call escalates:&lt;ul&gt;&lt;li&gt;Offer a gift card.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Discount_Percent_Defective_Item</name>
            <dataType>Number</dataType>
            <fieldText>Discount (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Form_Gift_Card_Amount_Defective_Item</name>
            <choiceReferences>Gift_Card_Amount</choiceReferences>
            <choiceReferences>Zero</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Zero</defaultSelectedChoiceReference>
            <fieldText>Gift Card Amount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Gift Card Guidelines &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Order of $0 - $300 = $25 Gift Card&lt;/p&gt;&lt;p&gt;Order of $301 - $500 =$50 Gift Card&lt;/p&gt;&lt;p&gt;Order of $501 - $999	= $75 Gift Card&lt;/p&gt;&lt;p&gt;Order of $1000 and above =$100 Gift Card&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Form_Manual_Adjustment_Defective_Item</name>
            <dataType>Currency</dataType>
            <fieldText>Manual Adjustment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Gift_Card_Refund</name>
        <label>Gift Card Refund</label>
        <locationX>1494</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mandatory_Fields</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Gift_Card_Number</name>
            <dataType>String</dataType>
            <fieldText>Original Gift Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Form_Gift_Card_Balance</name>
            <dataType>Currency</dataType>
            <fieldText>Original Gift Card Balance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Form_Reason_for_gift_card_change</name>
            <choiceReferences>Gift_Card_Change_Reason</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Reason for gift card change</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Form_New_Gift_Card_Number</name>
            <dataType>String</dataType>
            <fieldText>New Gift Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Gift_card_to_Original_Tender</name>
        <label>Gift card to Original Tender</label>
        <locationX>1245</locationX>
        <locationY>2296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Price_Validation</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Gift_Card</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Amount_to_Refunded_Gift_Card</name>
            <fieldText>&lt;p&gt;Total Order Amount: {!ORC_Amount_Charged}&lt;/p&gt;&lt;p&gt;Amount charged to Credit Card: {!ORC_Amount_Charge_Credit_Card}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gift_Card_Number_Gift_Card_Original</name>
            <dataType>String</dataType>
            <fieldText>Gift Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gift_Card_Balance_Gift_Card_Original</name>
            <dataType>Currency</dataType>
            <fieldText>Amount to Refund</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Form_Credit_Card_Alias_Original_Tender</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ORC_CC_Alias</elementReference>
            </defaultValue>
            <fieldText>Credit Card Alias</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Missing_Field_Price_Override</name>
        <label>Screen_Missing_Field</label>
        <locationX>1454</locationX>
        <locationY>2077</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Price_Override</targetReference>
        </connector>
        <fields>
            <name>Display_Missing_Field_Price_Override</name>
            <fieldText>&lt;p&gt;{!MissingMandatoryField}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Missing_Field_Return_Problem</name>
        <label>Missing Field</label>
        <locationX>1624</locationX>
        <locationY>896</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Return_Problem</targetReference>
        </connector>
        <fields>
            <name>Displa_Missing_Field_Return_Problem</name>
            <fieldText>&lt;p&gt;{!MissingMandatoryField}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Missing_Field_Shipping_Fee</name>
        <label>Missing Field</label>
        <locationX>1394</locationX>
        <locationY>704</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Shipping_Fee</targetReference>
        </connector>
        <fields>
            <name>Display_Missing_Field_Shipping_Fee</name>
            <fieldText>&lt;p&gt;{!MissingMandatoryField}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Missing_Item</name>
        <label>Missing Item</label>
        <locationX>981</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quantity_Validation</targetReference>
        </connector>
        <fields>
            <name>Header_Missing_Item_Display</name>
            <fieldText>&lt;p&gt;{!Text_Order_Details}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Amount Charged : {!ORC_Amount_Charged}&lt;/p&gt;&lt;p&gt;Line Item Amount :{!ORC_Amount_Charged_Item}&lt;/p&gt;&lt;p&gt;Quantity : {!ORC_Quantity}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Shipping_Method_Missing_Item</name>
            <choiceReferences>Shipping_Method</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Shipping Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tracking_Number_Missing_Item</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity_Not_Received_Missing_Item</name>
            <dataType>Number</dataType>
            <fieldText>Quantity Not Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Guidelines_Missing_Item</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Escalated Accommodation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 3, 3);&quot;&gt;Loyalty Tier : Regular, Basic or Associate/Retiree&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Credit 10% off on replacement order&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 3, 3);&quot;&gt;Loyalty Tier : PLCC non-Premier or Plus&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Credit 10% or up to 15% off on replacement order&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 3, 3); background-color: rgb(255, 255, 255);&quot;&gt;Loyalty Tier : Premier or VIP&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Credit 10% or up to 20% off on replacement order&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Missting_Fields_Missing_Item</name>
        <label>Missting Fields</label>
        <locationX>1412</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Missing_Field_Missing_Item</name>
            <fieldText>&lt;p&gt;{!MissingMandatoryField}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Order_Not_Received</name>
        <label>Order Not Received</label>
        <locationX>1167</locationX>
        <locationY>575</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Mandatory_Fields_Missing_Item</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Order_Not_Received</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Amount_Charged_Order_Not_Received</name>
            <fieldText>Amount Charged
{!ORC_Amount_Charged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Shipping_Method_Order_Not_Recived</name>
            <choiceReferences>Shipping_Method</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Shipping Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tracking_Number_Order_Not_Received</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Guidelines_Merchandise_Not_Received</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Escalated Accommodation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 3, 3);&quot;&gt;Loyalty Tier : Regular, Basic or Associate/Retiree&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Credit 10% off on replacement order&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 3, 3);&quot;&gt;Loyalty Tier : PLCC non-Premier or Plus&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Credit 10% or up to 15% off on replacement order&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 3, 3); background-color: rgb(255, 255, 255);&quot;&gt;Loyalty Tier : Premier or VIP&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Credit 10% or up to 20% off on replacement order&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Price_Adjustment</name>
        <label>Price Adjustment</label>
        <locationX>1447</locationX>
        <locationY>1796</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Price_Adjustment_Validation</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_PriceAdjustment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Amount_Charged_Price_Adjusment</name>
            <fieldText>&lt;p&gt;Unit Price : {!ORC_Amount_Charged_Item}&lt;/p&gt;&lt;p&gt;Quantity : {!ORC_Quantity}&lt;/p&gt;&lt;p&gt;Line Item Total :{!ORC_Amount_Charged}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Delay_Warning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(237, 4, 4);&quot;&gt;&lt;u&gt;{!More_30_Days}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Discount_Percent_Price_Adjustment</name>
            <dataType>Number</dataType>
            <fieldText>Discount (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Form_Manual_Adjustment_Price_Adjustment</name>
            <dataType>Currency</dataType>
            <fieldText>New Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Only for line item adjustments&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Form_Credit_Shipping_Fee_Price_Adjustment</name>
            <dataType>Boolean</dataType>
            <fieldText>Credit Shipping Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Guideline_Price_Adjustment</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Credit&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;If the merchandise is still available online, issue the credit&lt;/li&gt;&lt;li&gt;If the order is still in transit, issue the credit. Credit the original shipping fee&lt;/li&gt;&lt;li&gt;Upgrade and waive shipping fee on the replacement order&lt;/li&gt;&lt;li&gt;Any promotions used on the original order, please match on the second order&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Request outside the timeframe&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Use your discretion. Up to 30 days.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Price_Match</name>
        <label>Price Match</label>
        <locationX>1389</locationX>
        <locationY>1916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Price_Validation</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Price_Match</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Amount_Charged_Price_Match</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;HBC Unit Price :{!ORC_Amount_Charged_Item}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Quantity : {!ORC_Quantity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Total Line Item Amount Charged: {!ORC_Amount_Charged}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Price_Override_Price_Match</name>
            <dataType>Currency</dataType>
            <fieldText>Competitor&apos;s Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Competitor_Name</name>
            <dataType>String</dataType>
            <fieldText>Competitor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Competitor_Website_Price_Match</name>
            <dataType>String</dataType>
            <fieldText>Competitor Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Price_Override</name>
        <label>Price Override</label>
        <locationX>1336</locationX>
        <locationY>2021</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Missing_Fields_Price_Override</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Price_Override</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_Charged_Price_Overide</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Unit Price : {!ORC_Amount_Charged_Item}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Quantity : {!ORC_Quantity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Line Item Total :{!ORC_Amount_Charged}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Price_Override_Reason_Price_Override</name>
            <choiceReferences>Price_Override_Reason</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Price Override Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Price_Override_Price_Override</name>
            <dataType>Currency</dataType>
            <fieldText>Price Override (Unit Price)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter 0 for full refund&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Promo_Questions_Problem</name>
        <label>Promo Questions/Problem</label>
        <locationX>1291</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Price_Validation</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Promo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Promo_Code_Promo</name>
            <dataType>String</dataType>
            <fieldText>Promo Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Form_Promo_Date_Promo</name>
            <dataType>Date</dataType>
            <fieldText>Promo Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Form_Discount_Percent_Promo</name>
            <dataType>Number</dataType>
            <fieldText>Promo Code Discount (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Form_Manual_Adjustment_Promo</name>
            <dataType>Currency</dataType>
            <fieldText>Promo Code Discount Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Refund_Confirmation</name>
        <label>Refund Confirmation</label>
        <locationX>3380</locationX>
        <locationY>1065</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <fields>
            <name>Display_Refund_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Confirm with the customer that:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!CC_Amount_Confirmation}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!GC_Amount_Confirmation}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Shipping_Fee_Confirmation}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You will receive an email from us when we process it and it will show in your account 15 business days after that. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Return_Problem</name>
        <label>Return Problem</label>
        <locationX>1431</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Missing_Field_Return_Problem</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Return_Problem</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Amount_Charged_Return_Problem</name>
            <fieldText>&lt;p&gt;Shipping Fee of {!ORC_Shipping_Fee} will be credited.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tracking_Number_Return_Problem</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_Method_Return_Problem</name>
            <choiceReferences>Shipping_Method</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Shipping Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Package_was_Returned_Return</name>
            <dataType>Date</dataType>
            <fieldText>Date Package was Returned</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Guidelines_Return_Issue</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; background-color: white;&quot;&gt;&lt;u&gt;Escalated Accommodation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(247, 3, 3);&quot;&gt;Loyalty Tier : Regular, Basic or Associate/Retiree&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;Offer 10% off next order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;If customer isnt satisfied with the % off, offer a gift card. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(247, 3, 3); background-color: white;&quot;&gt;Loyalty Tier : PLCC non-Premier or Plus&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;Offer 10% or up to 15% off next order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;If customer isnt satisfied with the % off, offer a gift card. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(247, 3, 3); background-color: white;&quot;&gt;Loyalty Tier : Premier or VIP&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;Offer 10% or up to 20% off next order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;If customer isnt satisfied with the % off, offer a gift card.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Discount_Percent_Return_Problem</name>
            <dataType>Number</dataType>
            <fieldText>Discount (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Form_Gift_Card_Amount_Return_Problem</name>
            <choiceReferences>Gift_Card_Amount</choiceReferences>
            <choiceReferences>Zero</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Zero</defaultSelectedChoiceReference>
            <fieldText>Gift Card Amount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Gift Card Guidelines &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Order of $0 - $300 = $25 Gift Card&lt;/p&gt;&lt;p&gt;Order of $301 - $500 =$50 Gift Card&lt;/p&gt;&lt;p&gt;Order of $501 - $999	= $75 Gift Card&lt;/p&gt;&lt;p&gt;Order of $1000 and above =$100 Gift Card&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Shipping_Fee</name>
        <label>Shipping Fee</label>
        <locationX>1224</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Missing_Field_Shipping_Fee</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Shipping_Fee</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Text_Order_Details}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Amount_Charged_Shipping_Fee</name>
            <fieldText>&lt;p&gt;Amount Charged&lt;/p&gt;&lt;p&gt;{!ORC_Amount_Charged}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Shipping Fee&lt;/p&gt;&lt;p&gt;{!ORC_Shipping_Fee}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Credit_Shipping_Fee_Shipping_Fee</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Credit Shipping Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Form_Reason_shipping_fee_credit_Shipping_Fee</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Shipping_Choice_1</choiceReferences>
            <choiceReferences>Shipping_Choice_2</choiceReferences>
            <choiceReferences>Shipping_Choice_3</choiceReferences>
            <choiceReferences>Shipping_Choice_4</choiceReferences>
            <choiceReferences>Shipping_Choice_5</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Reason for shipping fee credit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Guidelines_Shipping_Fee</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: white; font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&lt;u&gt;Escalated Accommodation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 3, 3); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Loyalty Tier : Regular, Basic or Associate/Retiree&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Offer 10% off next order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If customer isnt satisfied with the % off, offer a gift card. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;background-color: white; color: rgb(247, 3, 3); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Loyalty Tier : PLCC non-Premier or Plus&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Offer 10% or up to 15% off next order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If customer isnt satisfied with the % off, offer a gift card. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;background-color: white; color: rgb(247, 3, 3); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Loyalty Tier : Premier or VIP&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Offer 10% or up to 20% off next order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If customer isnt satisfied with the % off, offer a gift card.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Discount_Percent_Shipping_Fee</name>
            <dataType>Number</dataType>
            <fieldText>Discount (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Form_Gift_Card_Amount_Shipping_Fee</name>
            <choiceReferences>Gift_Card_Amount</choiceReferences>
            <choiceReferences>Zero</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Zero</defaultSelectedChoiceReference>
            <fieldText>Gift Card Amount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Gift Card Guidelines &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Order of $0 - $300 = $25 Gift Card&lt;/p&gt;&lt;p&gt;Order of $301 - $500 =$50 Gift Card&lt;/p&gt;&lt;p&gt;Order of $501 - $999	= $75 Gift Card&lt;/p&gt;&lt;p&gt;Order of $1000 and above =$100 Gift Card&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Tax_Confirmation</name>
        <label>Tax Confirmation</label>
        <locationX>3565</locationX>
        <locationY>1078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <fields>
            <name>Display_Tax_Confirmation</name>
            <fieldText>&lt;p&gt;Confirm with the customer that:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We will refund you the taxes as requested.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You will receive an email from us when we process it and it will show in your account 15 business days after that. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Tax_Exclusion</name>
        <label>Tax Exclusion</label>
        <locationX>1187</locationX>
        <locationY>2436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ORC_Update_Tax_Exclusion</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Tax_Exclusion</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Tax_Exclusion_Code_TaxExclusion</name>
            <dataType>String</dataType>
            <fieldText>Tax Exclusion Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Wrong_Item_Received</name>
        <label>Wrong Item Received</label>
        <locationX>1337</locationX>
        <locationY>906</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Gift_Card_Amount</targetReference>
        </connector>
        <fields>
            <name>Display_Order_Info_Wrong_Iem_Received</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;u&gt;{!Form_Refund_Reason}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Text_Order_Details}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SKU_Received1_Wrong_Item_Received</name>
            <dataType>Number</dataType>
            <fieldText>SKU# Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Form_Order_Number_Received_Wrong_Order</name>
            <dataType>String</dataType>
            <fieldText>Order Number Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Form_Customer_Name_on_Order_Received_Wrong_Order</name>
            <dataType>String</dataType>
            <fieldText>Customer Name on Order Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Amount_Charged_Wrong_Item_Received</name>
            <fieldText>&lt;p&gt;Amount Charged&lt;/p&gt;&lt;p&gt;{!ORC_Amount_Charged}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Shipping Fee of {!ORC_Shipping_Fee} will be credited.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Guidelines_Wrong_Item</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: white; color: rgb(62, 62, 60); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&lt;u&gt;Escalated Accommodation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 3, 3); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Loyalty Tier : Regular, Basic or Associate/Retiree&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Offer 10% off next order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If customer isnt satisfied with the % off, offer a gift card. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;background-color: white; color: rgb(247, 3, 3); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Loyalty Tier : PLCC non-Premier or Plus&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Offer 10% or up to 15% off next order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If customer isnt satisfied with the % off, offer a gift card. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;background-color: white; color: rgb(247, 3, 3); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Loyalty Tier : Premier or VIP&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Offer 10% or up to 20% off next order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If customer isnt satisfied with the % off, offer a gift card.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Discount_Percent_Wrong_Item</name>
            <dataType>Number</dataType>
            <fieldText>Discount %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Form_Gift_Card_Amount_Wrong_Item</name>
            <choiceReferences>Gift_Card_Amount</choiceReferences>
            <choiceReferences>Zero</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Zero</defaultSelectedChoiceReference>
            <fieldText>Gift Card Amount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_ORC_Type</name>
        <label>Select ORC Type</label>
        <locationX>517</locationX>
        <locationY>1160</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Full_Order_Refund_Reason</targetReference>
        </connector>
        <fields>
            <name>Display_Select_Reason</name>
            <fieldText>Select the Order Credit Reason</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Refund_Reason</name>
            <choiceReferences>Order_Credit_Reason_Choice</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Refund Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ORC_Definitions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Defective Item&amp;nbsp;: &lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;Customer decides to keep a defective item and would like a discount.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Gift Card to Original Tender: &lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&amp;nbsp;Refund back to original method of payment instead of gift card.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Gift Card Problems (Refund)&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;: A gift card needs to be reissued due to customer not receiving it.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Missing Item&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;: Item shows shipped but customer states they never received it.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Merchandise  or Order Not Received&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;:&lt;/u&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt; Carrier shows delivered but customer has not received it.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Promo Question/Problem:&amp;nbsp;&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;Promo code not working on the item that is not on the exclusion list.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Price Adjustment&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;: Item goes on sale after the customer orders it.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Price Match&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;: Customer has found a lower price online for the exact same item at a qualifying competitor.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Price Override&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;: Customer was charged the incorrect price for an item or order that has cancelled.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Return Problem&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;: OMS not showing returned, item missing from refund or refund not credited back.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Shipping Fee&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;: Credit a customer back for shipping or for accommodation.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Tax Exclusion: &lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;Advise customer to fax SE the form.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Wrong Item Received: &lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;Only if the customer wants us to accommodate with a % off.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;&lt;u&gt;Wrong Order Received: &lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri; color: black;&quot;&gt;Only if the customer wants us to accommodate with a % off.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success !</label>
        <locationX>3374</locationX>
        <locationY>690</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success</name>
            <fieldText>&lt;p&gt;Your record was successfully created !!!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Finish &lt;/b&gt;to navigate out of this screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_ORC_Information</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>MissingMandatoryField</name>
        <text>All mandatory fields must be completed. Click Previous to go back to the previous screen</text>
    </textTemplates>
    <textTemplates>
        <name>Text_CC_Amount_Confirmation</name>
        <text>We will credit your {!ORC_Method_Of_Payment} number {!ORC_Full_Credit_Card_Number} in the amount of {!ORC_CC_Amount_Refund}</text>
    </textTemplates>
    <textTemplates>
        <name>Text_GC_Amount_Confirmation</name>
        <text>We will issue a new gift card in the amount of {!ORC_New_GC_Amount}</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Order_Details</name>
        <text>Order Number : {!ORC_Order_Number}
SKU # : {!ORCSKUNumber}
Description : {!ORC_Item_Name}
OMS Transaction Number : {!ORC_OMS_Transaction_Number}
Date of Sale : {!ORC_Date_OF_Sale}
Method of Payment : {!ORC_Method_Of_Payment}
Credit Card Number: {!ORC_Full_Credit_Card_Number}
Amount Charged : {!ORC_Amount_Charged}</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Shipping_Fee_Confirmation</name>
        <text>- These include a credit of  {!ORC_Shipping_Fee} for the shipping fees</text>
    </textTemplates>
    <variables>
        <name>CASE_BU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_Amount_Charge_Credit_Card</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ORC_Amount_Charged</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ORC_Amount_Charged_Gift_Card</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ORC_Amount_Charged_Item</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ORC_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_CC_Alias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_CC_Amount_Refund</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ORC_Credit_Shipping_Fee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_Date_OF_Sale</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_Date_Returned</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_Discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ORC_Full_Credit_Card_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_Gift_Card_Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_Item_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_Method_Of_Payment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_New_GC_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ORC_OMS_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_OMS_Transaction_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_Order_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORC_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ORC_Shipping_Fee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ORCSKUNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
