flows/Return_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignCaseOrderDate</name>
        <label>assignCaseOrderDate</label>
        <locationX>792</locationX>
        <locationY>1805</locationY>
        <assignmentItems>
            <assignToReference>Case_Order_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTextOrdernDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseOrderNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCaseOrderNumbe</name>
        <label>assignCaseOrderNumbe</label>
        <locationX>791</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Case_Order_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTextOrdernNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCaseOrderDate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>By_Mail</name>
        <choiceText>By Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>By Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada_Post</name>
        <choiceText>Canada Post</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada Post</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canpar</name>
        <choiceText>Canpar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canpar</stringValue>
        </value>
    </choices>
    <choices>
        <name>CasperMattress</name>
        <choiceText>Casper Mattress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Casper Mattress</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGotJunkServiceableNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGotJunkServiceableYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceMattressInBoxNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceMattressInBoxYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Curbside_Delivery</name>
        <choiceText>Curbside Delivery (Drop-Ship)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Curbside Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Home_Delivery</name>
        <choiceText>MHF - In Home Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Home Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Store</name>
        <choiceText>In Store</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Store</stringValue>
        </value>
    </choices>
    <choices>
        <name>itemCategoryBabyCarseat</name>
        <choiceText>Baby Items</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>itemCategoryBabyCarseat</stringValue>
        </value>
    </choices>
    <choices>
        <name>itemCategoryCreditCard</name>
        <choiceText>HBC Credit Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>itemCategoryCreditCard</stringValue>
        </value>
    </choices>
    <choices>
        <name>itemCategoryDresses</name>
        <choiceText>Dresses and Eveningwear</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>itemCategoryDresses</stringValue>
        </value>
    </choices>
    <choices>
        <name>itemCategoryFinalClearance</name>
        <choiceText>Final Clearance</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>itemCategoryHome</name>
        <choiceText>Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>itemCategoryHome</stringValue>
        </value>
    </choices>
    <choices>
        <name>itemCategoryJewelry</name>
        <choiceText>Fine Jewelry and Watches</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>itemCategoryJewelry</stringValue>
        </value>
    </choices>
    <choices>
        <name>itemCategoryJewelryAndElectronics</name>
        <choiceText>Jewelry and Home Electronics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>itemCategoryJewelryAndElectronics</stringValue>
        </value>
    </choices>
    <choices>
        <name>itemCategoryOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>itemCategoryOther</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leesa</name>
        <choiceText>Leesa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leesa</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherMattressVendor</name>
        <choiceText>Other Mattress Vendor (Sealy, Serta, etc..)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parcel_Delivery</name>
        <choiceText>Parcel Delivery (Canada Post, Purolator, Canpar, etc.)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Purolator</name>
        <choiceText>Purolator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purolator</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_a_Value</name>
        <choiceText>--Select a Value--</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Springwall</name>
        <choiceText>Springwall</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Springwall</stringValue>
        </value>
    </choices>
    <constants>
        <name>N14</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>N30</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>N60</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>N90</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>90.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Origin_Decision</name>
        <label>Case Origin</label>
        <locationX>2346</locationX>
        <locationY>1389</locationY>
        <defaultConnector>
            <targetReference>In_Home_Return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_House_Delivery_Other</targetReference>
            </connector>
            <label>Not Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBusinessUnit</name>
        <label>checkBusinessUnit</label>
        <locationX>587</locationX>
        <locationY>993</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lord_Taylor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Business_Unit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lord + Taylor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Information</targetReference>
            </connector>
            <label>Lord + Taylor</label>
        </rules>
        <rules>
            <name>Hudson_s_Bay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Business_Unit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hudson&apos;s Bay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Information_0</targetReference>
            </connector>
            <label>Hudson&apos;s Bay</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCategoryAndBusinessUnit</name>
        <label>checkCategoryAndBusinessUnit</label>
        <locationX>331</locationX>
        <locationY>1393</locationY>
        <defaultConnector>
            <targetReference>screenNotApplicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All other options</defaultConnectorLabel>
        <rules>
            <name>Case_Category_Mattress</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Case_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mattress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Casper Mattress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Business_Unit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Hudson_s_Bay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mattress_Return</targetReference>
            </connector>
            <label>Case Category = Mattress</label>
        </rules>
        <rules>
            <name>Case_Business_Unit_LT_or_HB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case_Business_Unit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lord + Taylor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Business_Unit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hudson&apos;s Bay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nullCheckOrderNumber</targetReference>
            </connector>
            <label>Case Business Unit = LT or HB</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDeliveryMethod</name>
        <label>checkDeliveryMethod</label>
        <locationX>1775</locationX>
        <locationY>1660</locationY>
        <defaultConnector>
            <targetReference>Return_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery Method = Other</defaultConnectorLabel>
        <rules>
            <name>Delivery_Method_Parcel_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistDeliveryMethodHB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Parcel_Delivery</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Information_0_0</targetReference>
            </connector>
            <label>Delivery Method = Parcel Delivery</label>
        </rules>
        <rules>
            <name>Value_Not_Selected_HBDelivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistDeliveryMethodHB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Information_0</targetReference>
            </connector>
            <label>Value Not Selected HBDelivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsGotJunkServiceable</name>
        <label>checkIsGotJunkServiceable</label>
        <locationX>1465</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GotJunk_Not_Serviceable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistGotJunkServiceable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceGotJunkServiceableNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenGotJunkNotServiceable</targetReference>
            </connector>
            <label>GotJunk Not Serviceable</label>
        </rules>
        <rules>
            <name>GotJunk_Is_Serviceable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistGotJunkServiceable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceGotJunkServiceableYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenGotJunkIsServiceable</targetReference>
            </connector>
            <label>GotJunk Is Serviceable</label>
        </rules>
        <rules>
            <name>Value_Not_Selected_GotJunk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistGotJunkServiceable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenMattressInBoxNo</targetReference>
            </connector>
            <label>Value Not Selected GotJunk</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsMattressInBox</name>
        <label>checkIsMattressInBox</label>
        <locationX>914</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mattress_is_in_box</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistMattressInBox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceMattressInBoxYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenMattressInBoxYes</targetReference>
            </connector>
            <label>Mattress is in box</label>
        </rules>
        <rules>
            <name>Mattress_is_not_in_box</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistMattressInBox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceMattressInBoxNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenMattressInBoxNo</targetReference>
            </connector>
            <label>Mattress is not in box</label>
        </rules>
        <rules>
            <name>Value_not_Selected_Mattress_Box</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistMattressInBox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCasperLeesaMattressReturn</targetReference>
            </connector>
            <label>Value not Selected Mattress Box</label>
        </rules>
    </decisions>
    <decisions>
        <name>LTReturnScreenDecision</name>
        <label>LTReturnScreenDecision</label>
        <locationX>1759</locationX>
        <locationY>604</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DressesInstore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistItemCategoryLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>itemCategoryDresses</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReturnMethodLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Store</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLTReturnsDressesInStore</targetReference>
            </connector>
            <label>DressesInstore</label>
        </rules>
        <rules>
            <name>DressesMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistItemCategoryLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>itemCategoryDresses</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReturnMethodLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>By_Mail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLTReturnsDressesMail</targetReference>
            </connector>
            <label>DressesMail</label>
        </rules>
        <rules>
            <name>JewelryInstore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistItemCategoryLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>itemCategoryJewelry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReturnMethodLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Store</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLTReturnsJewelryInstore</targetReference>
            </connector>
            <label>JewelryInstore</label>
        </rules>
        <rules>
            <name>JewelryMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistItemCategoryLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>itemCategoryJewelry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReturnMethodLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>By_Mail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLTReturnsJewelryMail</targetReference>
            </connector>
            <label>JewelryMail</label>
        </rules>
        <rules>
            <name>HomeInstore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistItemCategoryLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>itemCategoryHome</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReturnMethodLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Store</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLTReturnsHomeInstore</targetReference>
            </connector>
            <label>HomeInstore</label>
        </rules>
        <rules>
            <name>HomeMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistItemCategoryLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>itemCategoryHome</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReturnMethodLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>By_Mail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLTReturnsHomeMail</targetReference>
            </connector>
            <label>HomeMail</label>
        </rules>
        <rules>
            <name>OtherInstore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistItemCategoryLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>itemCategoryOther</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReturnMethodLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Store</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLTReturnsOtherInStore</targetReference>
            </connector>
            <label>OtherInstore</label>
        </rules>
        <rules>
            <name>OtherMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistItemCategoryLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>itemCategoryOther</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReturnMethodLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>By_Mail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLTReturnsOtherMail</targetReference>
            </connector>
            <label>OtherMail</label>
        </rules>
        <rules>
            <name>Value_not_SelectedLT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>picklistItemCategoryLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReturnMethodLT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Information</targetReference>
            </connector>
            <label>Value not SelectedLT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mattress_Vendor_Decision</name>
        <label>Mattress Vendor</label>
        <locationX>326</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>screenOtherReturnInstructions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Mattress Vendors Outcome</defaultConnectorLabel>
        <rules>
            <name>Springwell_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Mattress_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Springwall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSpringwallReturnInstructions</targetReference>
            </connector>
            <label>Springwall</label>
        </rules>
        <rules>
            <name>Casper_Leesa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Form_Mattress_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CasperMattress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Mattress_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Leesa</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCasperLeesaMattressReturn</targetReference>
            </connector>
            <label>Casper/Leesa</label>
        </rules>
        <rules>
            <name>Value_not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_Mattress_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mattress_Return</targetReference>
            </connector>
            <label>Value not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>nullCheckOrderNumber</name>
        <label>nullCheckOrderNumber</label>
        <locationX>589</locationX>
        <locationY>1400</locationY>
        <defaultConnector>
            <targetReference>checkBusinessUnit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Number not blank</defaultConnectorLabel>
        <rules>
            <name>Case_Order_Number_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Order_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenNeedOrderNumber</targetReference>
            </connector>
            <label>Case Order Number blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_Method</name>
        <label>Return Method</label>
        <locationX>2645</locationX>
        <locationY>2105</locationY>
        <defaultConnector>
            <targetReference>Return_Instructions_No_Method_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Store_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Form_Return_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Store</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Return_Method2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Store</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Instructions2</targetReference>
            </connector>
            <label>In Store</label>
        </rules>
        <rules>
            <name>By_Mail_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Form_Return_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>By_Mail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Return_Method2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>By_Mail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Instructions1</targetReference>
            </connector>
            <label>By Mail</label>
        </rules>
        <rules>
            <name>Value_Not_Selected_Form_Return_Method</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Form_Return_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Return_Method2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parcel_Return_30</targetReference>
            </connector>
            <label>Value Not Selected Form Return Method</label>
        </rules>
        <rules>
            <name>Value_Not_Selected_From_Return_Method2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Form_Return_Method2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Return_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parcel_Return_60</targetReference>
            </connector>
            <label>Value Not Selected From Return Method2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_Type</name>
        <label>Return Type</label>
        <locationX>2145</locationX>
        <locationY>1663</locationY>
        <defaultConnector>
            <targetReference>Outside_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Curbside_14_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistDeliveryMethodHB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Curbside_Delivery</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today_min_Order_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>N14</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Curbside_Return</targetReference>
            </connector>
            <label>Curbside 14 days</label>
        </rules>
        <rules>
            <name>In_Home_Delivery_14_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistDeliveryMethodHB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Home_Delivery</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today_min_Order_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>N14</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Origin_Decision</targetReference>
            </connector>
            <label>In-Home Delivery 14 Days</label>
        </rules>
        <rules>
            <name>Parcel_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistDeliveryMethodHB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Parcel_Delivery</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today_min_Order_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>N30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parcel_Return_30</targetReference>
            </connector>
            <label>Parcel 30 days</label>
        </rules>
        <rules>
            <name>Parcel_60_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistDeliveryMethodHB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Parcel_Delivery</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today_min_Order_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>N60</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parcel_Return_60</targetReference>
            </connector>
            <label>Parcel 60 days</label>
        </rules>
        <rules>
            <name>valueNotSelectedHBDev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistDeliveryMethodHB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_a_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Information_0_0</targetReference>
            </connector>
            <label>valueNotSelectedHBDev</label>
        </rules>
    </decisions>
    <formulas>
        <name>Today_min_Order_Date</name>
        <dataType>Number</dataType>
        <expression>today()-{!Case_Order_Date}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Return Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Return Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>50</locationX>
        <locationY>1390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkCategoryAndBusinessUnit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Case_Business_Unit</assignToReference>
            <field>Business_Unit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Category</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Order_Date</assignToReference>
            <field>Order_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Order_Number</assignToReference>
            <field>Order_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Origin</assignToReference>
            <field>Origin</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Case_Update_MHF_Phone</name>
        <label>Case Update MHF Phone</label>
        <locationX>3037</locationX>
        <locationY>1344</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>MHF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Returns</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_MHF</name>
        <label>Update Case MHF</label>
        <locationX>2928</locationX>
        <locationY>1264</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>MHF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Returns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>MHF</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseOrderNumber</name>
        <label>updateCaseOrderNumber</label>
        <locationX>599</locationX>
        <locationY>1810</locationY>
        <connector>
            <targetReference>nullCheckOrderNumber</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>Case_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Curbside_Return</name>
        <label>Curbside Return</label>
        <locationX>2688</locationX>
        <locationY>1692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Curbside_Delivery_Instructions</name>
            <fieldText>&lt;p&gt;Refund will be applied to original method of payment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Returns are subject to a $100 restocking fee.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Items must be packaged and available for pick up in the same manner in which they were delivered.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://hudsonbaycompany--tracbuild.lightning.force.com/lightning/r/Knowledge__kav/ka0S0000000AMcpIAG/view&quot; target=&quot;_blank&quot;&gt;Sameday Worldwide Process&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; Customer service agents can always override policy by going to the &lt;a href=&quot;https://returns.narvar.com/thebay/returns?locale=en_CA&amp;amp;usertype=BAY081017&quot; target=&quot;_blank&quot;&gt;CSR Narvar link&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Information</name>
        <label>Delivery Information</label>
        <locationX>1492</locationX>
        <locationY>604</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LTReturnScreenDecision</targetReference>
        </connector>
        <fields>
            <name>Order_Information</name>
            <fieldText>&lt;p&gt;Product Order was &lt;b&gt;{!Today_min_Order_Date} &lt;/b&gt;day(s) ago&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Order Number : {!Case_Order_Number}&lt;/p&gt;&lt;p&gt;Order Date : {!Case_Order_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>picklistItemCategoryLT</name>
            <choiceReferences>itemCategoryDresses</choiceReferences>
            <choiceReferences>itemCategoryJewelry</choiceReferences>
            <choiceReferences>itemCategoryHome</choiceReferences>
            <choiceReferences>itemCategoryOther</choiceReferences>
            <choiceReferences>Select_a_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_a_Value</defaultSelectedChoiceReference>
            <fieldText>Item Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>picklistReturnMethodLT</name>
            <choiceReferences>By_Mail</choiceReferences>
            <choiceReferences>In_Store</choiceReferences>
            <choiceReferences>Select_a_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_a_Value</defaultSelectedChoiceReference>
            <fieldText>Return Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Information_0</name>
        <label>Delivery Information</label>
        <locationX>1492</locationX>
        <locationY>1660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkDeliveryMethod</targetReference>
        </connector>
        <fields>
            <name>Order_Information_0</name>
            <fieldText>&lt;p&gt;Product Order was &lt;b&gt;{!Today_min_Order_Date} &lt;/b&gt;day(s) ago&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Order Number : {!Case_Order_Number}&lt;/p&gt;&lt;p&gt;Order Date : {!Case_Order_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>picklistDeliveryMethodHB</name>
            <choiceReferences>Curbside_Delivery</choiceReferences>
            <choiceReferences>In_Home_Delivery</choiceReferences>
            <choiceReferences>Parcel_Delivery</choiceReferences>
            <choiceReferences>Select_a_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_a_Value</defaultSelectedChoiceReference>
            <fieldText>Delivery Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Information_0_0</name>
        <label>Delivery Information</label>
        <locationX>1782</locationX>
        <locationY>1894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Return_Type</targetReference>
        </connector>
        <fields>
            <name>Order_Information_0_0</name>
            <fieldText>&lt;p&gt;Product Order was &lt;b&gt;{!Today_min_Order_Date} &lt;/b&gt;day(s) ago&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Order Number : {!Case_Order_Number}&lt;/p&gt;&lt;p&gt;Order Date : {!Case_Order_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>picklistItemCategoryHB</name>
            <choiceReferences>itemCategoryJewelryAndElectronics</choiceReferences>
            <choiceReferences>itemCategoryBabyCarseat</choiceReferences>
            <choiceReferences>itemCategoryFinalClearance</choiceReferences>
            <choiceReferences>itemCategoryCreditCard</choiceReferences>
            <choiceReferences>itemCategoryOther</choiceReferences>
            <choiceReferences>Select_a_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_a_Value</defaultSelectedChoiceReference>
            <fieldText>Item Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>In_Home_Return</name>
        <label>In-Home Return</label>
        <locationX>2730</locationX>
        <locationY>1342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Update_MHF_Phone</targetReference>
        </connector>
        <fields>
            <name>In_Home_Return_Instruction_Phone</name>
            <fieldText>&lt;p&gt;In-House Delivery Orders need to be transferred to the MHF team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Try transferring to an MHF agent (warm transfer). If none are available, transfer the call to the MGF team but make sure to provide the case number to the customer for reference.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Finish to proceed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; Customer service agents can always override policy by going to the &lt;a href=&quot;https://returns.narvar.com/thebay/returns?locale=en_CA&amp;amp;usertype=BAY081017&quot; target=&quot;_blank&quot;&gt;CSR Narvar link&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>In_House_Delivery_Other</name>
        <label>In House Delivery Other</label>
        <locationX>2628</locationX>
        <locationY>1267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case_MHF</targetReference>
        </connector>
        <fields>
            <name>In_house_Delivery_Other_Instructions</name>
            <fieldText>&lt;p&gt;The case should be transferred to the MHF team.  Click Finish to proceed. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; Customer service agents can always override policy by going to the &lt;a href=&quot;https://returns.narvar.com/thebay/returns?locale=en_CA&amp;amp;usertype=BAY081017&quot; target=&quot;_blank&quot;&gt;CSR Narvar link&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mattress_Return</name>
        <label>Mattress</label>
        <locationX>338</locationX>
        <locationY>862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Mattress_Vendor_Decision</targetReference>
        </connector>
        <fields>
            <name>Mattress_Instructions</name>
            <fieldText>&lt;p&gt;Select the mattress vendor.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Mattress_Vendor</name>
            <choiceReferences>CasperMattress</choiceReferences>
            <choiceReferences>Leesa</choiceReferences>
            <choiceReferences>Springwall</choiceReferences>
            <choiceReferences>OtherMattressVendor</choiceReferences>
            <choiceReferences>Select_a_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_a_Value</defaultSelectedChoiceReference>
            <fieldText>Mattress Vendor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outside_Policy</name>
        <label>Outside Policy</label>
        <locationX>2148</locationX>
        <locationY>2062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Outside_Policy_Instructions</name>
            <fieldText>&lt;p&gt;Unfortunately  you are outside the return policy. We will not be able to refund you for your purchase. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parcel_Return_30</name>
        <label>Parcel Return 30</label>
        <locationX>2366</locationX>
        <locationY>1794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Return_Method</targetReference>
        </connector>
        <fields>
            <name>Full_Refund_Instructions</name>
            <fieldText>&lt;p&gt;Item can be returned for full refund on original MOP&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Restrictions:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;All baby gear products must be returned unopened and in their original packaging. &lt;/li&gt;&lt;li&gt;All car seat sales are final.&lt;/li&gt;&lt;li&gt;A small number of heavily discounted items may have moved to our final clearance category, in which case they are not eligible for a refund, exchange or store credit.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Return_Method</name>
            <choiceReferences>In_Store</choiceReferences>
            <choiceReferences>By_Mail</choiceReferences>
            <choiceReferences>Select_a_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_a_Value</defaultSelectedChoiceReference>
            <fieldText>How will you be returning the item?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parcel_Return_60</name>
        <label>Parcel Return 60</label>
        <locationX>2530</locationX>
        <locationY>1744</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Return_Method</targetReference>
        </connector>
        <fields>
            <name>Refund_Policy_60</name>
            <fieldText>&lt;p&gt;Item can be returned for full refund if purchased on a Bay Mastercard or PLCC&lt;/p&gt;&lt;p&gt;If third-party tender, can only receive refund on a gift card.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Restrictions&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;All baby gear products must be returned unopened and in their original packaging.&lt;/li&gt;&lt;li&gt;All car seat sales are final.&lt;/li&gt;&lt;li&gt;A small number of heavily discounted items may have moved to our final clearance category, in which case they are not eligible for a refund, exchange or store credit.&lt;/li&gt;&lt;li&gt;Jewelry and home electronics cannot be returned after 30 days&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Return_Method2</name>
            <choiceReferences>By_Mail</choiceReferences>
            <choiceReferences>In_Store</choiceReferences>
            <choiceReferences>Select_a_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_a_Value</defaultSelectedChoiceReference>
            <fieldText>How will you be returning the item?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_Instructions1</name>
        <label>Return Instructions Mail</label>
        <locationX>3015</locationX>
        <locationY>2029</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>By_Mail_Instructions</name>
            <fieldText>&lt;p&gt;1. Locate Your Order Number&lt;/p&gt;&lt;p&gt;You can find your order number in one of the below locations. Once you do, youll be able to start your&lt;/p&gt;&lt;p&gt;return.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The top right corner of your packing slip&lt;/li&gt;&lt;li&gt;The subject line of your shipping confirmation email&lt;/li&gt;&lt;li&gt;Your order history (which you can find in your account on thebay.com)&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;a href=&quot;https://returns.narvar.com/thebay/returns?locale=en_CA&amp;amp;usertype=BAY081017&quot; target=&quot;_blank&quot;&gt;Narvar&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;2. Prepare Your Package&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Securely pack your items (in the original packaging if possible) and include your proof of purchase&lt;/li&gt;&lt;li&gt;Attach the shipping label we helped you create and make sure no other labels are showing on your package&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;3. Ship It&lt;/p&gt;&lt;p&gt;Once your package is ready, ship it back to us via the mail service provider your shipping label specifies, either &lt;a href=&quot;https://www.purolator.com/en/home.page&quot; target=&quot;_blank&quot;&gt;Purolator &lt;/a&gt;or &lt;a href=&quot;https://www.canadapost.ca/cpc/en/home.page&quot; target=&quot;_blank&quot;&gt;Canada Post&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Drop off the package at your closest &lt;a href=&quot;https://www.purolator.com/en/home.page&quot; target=&quot;_blank&quot;&gt;Purolator&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Give the package to your &lt;a href=&quot;https://www.canadapost.ca/cpc/en/home.page&quot; target=&quot;_blank&quot;&gt;Canada Post &lt;/a&gt;mail carrier or find your closest post office.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;There are no fees for using &lt;/u&gt;&lt;b style=&quot;color: rgb(240, 20, 20);&quot;&gt;&lt;u&gt;PayPal&lt;/u&gt;&lt;/b&gt;&lt;u&gt;. If you purchased an item using PayPal and are returning it via Canada Post, your PayPal account will be credited.&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;4. Track It&lt;/p&gt;&lt;p&gt;You can track the status of your return in your return confirmation email. Please allow 1014 business days for the processing of your return by mail. After weve processed the return, refunds to the original tender can take up to one week to be credited back to your account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; Customer service agents can always override policy by going to the &lt;a href=&quot;https://returns.narvar.com/thebay/returns?locale=en_CA&amp;amp;usertype=BAY081017&quot; target=&quot;_blank&quot;&gt;CSR Narvar link&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_Instructions2</name>
        <label>Return Instructions In Store</label>
        <locationX>3128</locationX>
        <locationY>1974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DamagedItemDisclaimerReturnsInStore</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Return_Instructions_In_Store</name>
            <fieldText>&lt;p&gt;Bring the item(s) you would like to return to any Hudsons Bay store with the tags attached, along with one of the following forms of proof of purchase:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Original receipt&lt;/li&gt;&lt;li&gt;Gift receipt&lt;/li&gt;&lt;li&gt;Order invoice&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For audit purposes, please provide the following:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Name&lt;/li&gt;&lt;li&gt;Address&lt;/li&gt;&lt;li&gt;Telephone number&lt;/li&gt;&lt;li&gt;Valid photo ID&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;If you would like to exchange the item instead, one of our store associates will be happy to help you find what youre looking for.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; Customer service agents can always override policy by going to the &lt;a href=&quot;https://returns.narvar.com/thebay/returns?locale=en_CA&amp;amp;usertype=BAY081017&quot; target=&quot;_blank&quot;&gt;CSR Narvar link&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_Instructions_No_Method_Selected</name>
        <label>Return Instructions - No Method Selected</label>
        <locationX>3243</locationX>
        <locationY>1914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text_Return_Instructions_No_Method_Selected</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;A full refund to the original method of payment is offered for merchandise within 90 days of the date of sale&lt;/li&gt;&lt;li&gt;Returns after 90 days from placing an order will be credited at the lowest selling price as a credit to your Lord + Taylor account or as a gift card.&lt;/li&gt;&lt;li&gt;Original shipping charges are nonrefundable.&lt;/li&gt;&lt;li&gt;Merchandise must be unworn, unlaundered, and presented in salable condition with the original vendor packaging and tags.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; Customer service agents can always override policy by going to the &lt;a href=&quot;https://returns.narvar.com/thebay/returns?locale=en_CA&amp;amp;usertype=BAY081017&quot; target=&quot;_blank&quot;&gt;CSR Narvar link&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenCasperLeesaMattressReturn</name>
        <label>screenCasperLeesaMattressReturn</label>
        <locationX>633</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkIsMattressInBox</targetReference>
        </connector>
        <fields>
            <name>textCasperLeesaMattressReturnQuestions</name>
            <fieldText>&lt;p&gt;If ordered online, confirm with the customer that they have the OMS order number&lt;/p&gt;&lt;p&gt;OR&lt;/p&gt;&lt;p&gt;If purchased in a store, confirm with the customer that they have the transaction number and the store receipt&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>picklistMattressInBox</name>
            <choiceReferences>choiceMattressInBoxYes</choiceReferences>
            <choiceReferences>choiceMattressInBoxNo</choiceReferences>
            <choiceReferences>Select_a_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_a_Value</defaultSelectedChoiceReference>
            <fieldText>Is the mattress still in the box?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenGotJunkIsServiceable</name>
        <label>screenGotJunkIsServiceable</label>
        <locationX>1800</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textGotJunkIsServiceable</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;Collect the following information and assign case to SE queue:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;Customer Full Name and Address&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;OMS Order # or a picture of the customers store receipt&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;2-3 date/times for pickup &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;Contact number&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;Number of mattresses&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Next:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;The SE Team will schedule a pick-up&lt;/li&gt;&lt;li&gt;GotJunk will confirm when the item has been picked up&lt;/li&gt;&lt;li&gt;The SE team will forward the invoice and create an ORC&lt;/li&gt;&lt;li&gt;POS processes ORC and closes the Case&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenGotJunkNotServiceable</name>
        <label>screenGotJunkNotServiceable</label>
        <locationX>1920</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textGotJunkNotServiceable</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;In the event that the customers address falls outside of 1800GOTJUNKs serviceable area, collect the customers info and send an email to &lt;/span&gt;&lt;a href=&quot;mailto:hbecomm-operations@hbc.com&quot; target=&quot;_blank&quot; style=&quot;color: black; font-size: 12px;&quot;&gt;hbecomm-operations@hbc.com&lt;/a&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt; and close the Case.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenLTReturnsDressesInStore</name>
        <label>screenLTReturnsDressesInStore</label>
        <locationX>2447</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DamagedItemDisclaimerReturnsDressesInStore</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Please Note: Damaged Merchandise can only be returned by mail&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsItemDresses1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: black;&quot;&gt;Dresses &amp;amp; Eveningwear&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: black;&quot;&gt;Returns or exchanges on all dresses will only be accepted within 60 days from the date of purchase. Dresses over $100 will be sold with an additional &quot;seal tag&quot; attached. Once that tag is removed, the item cannot be returned.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsMethodInstore1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;In-Store Returns&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You may return any items purchased at lordandtaylor.com at Lord + Taylor stores. Please note that we cannot accept returns at our outlet or clearance center locations. See &quot;Purchases Made At A Lord + Taylor Store&quot; above for details. Original shipping charges are nonrefundable.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Narvar_Links_LTReturnsDresses</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://returns.narvar.com/lordandtaylor/returns?usertype=LT081017&quot; target=&quot;_blank&quot;&gt;Narvar link for agents&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenLTReturnsDressesMail</name>
        <label>screenLTReturnsDressesMail</label>
        <locationX>2536</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textLTReturnsItemDresses2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: black;&quot;&gt;Dresses &amp;amp; Eveningwear&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: black;&quot;&gt;Returns or exchanges on all dresses will only be accepted within 60 days from the date of purchase. Dresses over $100 will be sold with an additional &quot;seal tag&quot; attached. Once that tag is removed, the item cannot be returned.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsMethodMail1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Mail returns &lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Customer can generate a prepaid label through Narvar or the agent can do so&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://returns.narvar.com/lordandtaylor/returns?usertype=LT081017&quot; target=&quot;_blank&quot;&gt;Narvar link for agents&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Customer can get to Narvar by going to lordandtaylor.com/returns or clicking Start a return in their order history&lt;/li&gt;&lt;li&gt;Need order number and billing address to generate label&lt;/li&gt;&lt;li&gt;Pack return securely, in the original package if possible and include your printed invoice. Affix your shipping label to the package, making sure no other tracking labels are showing.&lt;/li&gt;&lt;li&gt;Can ship via FedEx or the U.S. Postal Service&lt;/li&gt;&lt;li&gt;For FedEx, drop it off at&amp;nbsp;your nearest FedEx location.&lt;/li&gt;&lt;li&gt;For the U.S. Postal Service, give it to your mail carrier or drop it off at&amp;nbsp;your nearest post office.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenLTReturnsHomeInstore</name>
        <label>screenLTReturnsHomeInstore</label>
        <locationX>2774</locationX>
        <locationY>660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DamagedItemDisclaimerReturnsHomeInStore</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Please Note: Damaged Merchandise can only be returned by mail&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsItemHome1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Home Items&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Returns or exchanges of Home merchandise will only be accepted within 60 days from the date of purchase.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsMethodInstore3</name>
            <fieldText>&lt;p&gt;&lt;b&gt;In-Store Returns&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You may return any items purchased at lordandtaylor.com at Lord + Taylor stores. Please note that we cannot accept returns at our outlet or clearance center locations. See &quot;Purchases Made At A Lord + Taylor Store&quot; above for details. Original shipping charges are nonrefundable.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Narvar_Links_LTReturnsHome</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://returns.narvar.com/lordandtaylor/returns?usertype=LT081017&quot; target=&quot;_blank&quot;&gt;Narvar link for agents&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenLTReturnsHomeMail</name>
        <label>screenLTReturnsHomeMail</label>
        <locationX>2702</locationX>
        <locationY>771</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textLTReturnsItemHome2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Home&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Returns or exchanges of Home merchandise will only be accepted within 60 days from the date of purchase.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsMethodMail3</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Mail returns &lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Customer can generate a prepaid label through Narvar or the agent can do so&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://returns.narvar.com/lordandtaylor/returns?usertype=LT081017&quot; target=&quot;_blank&quot;&gt;Narvar link for agents&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Customer can get to Narvar by going to lordandtaylor.com/returns or clicking Start a return in their order history&lt;/li&gt;&lt;li&gt;Need order number and billing address to generate label&lt;/li&gt;&lt;li&gt;Pack return securely, in the original package if possible and include your printed invoice. Affix your shipping label to the package, making sure no other tracking labels are showing.&lt;/li&gt;&lt;li&gt;Can ship via FedEx or the U.S. Postal Service&lt;/li&gt;&lt;li&gt;For FedEx, drop it off at&amp;nbsp;your nearest FedEx location.&lt;/li&gt;&lt;li&gt;For the U.S. Postal Service, give it to your mail carrier or drop it off at&amp;nbsp;your nearest post office.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenLTReturnsJewelryInstore</name>
        <label>screenLTReturnsJewelryInstore</label>
        <locationX>2699</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DamagedItemDisclaimerReturnsJewelryInStore</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsItemJewelry1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Fine Jewelry &amp;amp; Watches&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Returns or exchanges of Fine Jewelry or Watches will only be accepted within 30 days from the date of purchase. All original tags must be attached. Fine Jewelry Trunk Show Merchandise exchanges or returns must be made at the store of purchase, and are subject to the specific trunk show&apos;s return policy.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsMethodInstore2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;In-Store Returns&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You may return any items purchased at lordandtaylor.com at Lord + Taylor stores. Please note that we cannot accept returns at our outlet or clearance center locations. See &quot;Purchases Made At A Lord + Taylor Store&quot; above for details. Original shipping charges are nonrefundable.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Narvar_Links_LTReturnsJewelry</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://returns.narvar.com/lordandtaylor/returns?usertype=LT081017&quot; target=&quot;_blank&quot;&gt;Narvar link for agents&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenLTReturnsJewelryMail</name>
        <label>screenLTReturnsJewelryMail</label>
        <locationX>2774</locationX>
        <locationY>534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textLTReturnsItemDressesJewelry2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Fine Jewelry &amp;amp; Watches&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Returns or exchanges of Fine Jewelry or Watches will only be accepted within 30 days from the date of purchase. All original tags must be attached. Fine Jewelry Trunk Show Merchandise exchanges or returns must be made at the store of purchase, and are subject to the specific trunk show&apos;s return policy.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsMethodInstoreMail2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Mail returns &lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Customer can generate a prepaid label through Narvar or the agent can do so&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://returns.narvar.com/lordandtaylor/returns?usertype=LT081017&quot; target=&quot;_blank&quot;&gt;Narvar link for agents&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Customer can get to Narvar by going to lordandtaylor.com/returns or clicking Start a return in their order history&lt;/li&gt;&lt;li&gt;Need order number and billing address to generate label&lt;/li&gt;&lt;li&gt;Pack return securely, in the original package if possible and include your printed invoice. Affix your shipping label to the package, making sure no other tracking labels are showing.&lt;/li&gt;&lt;li&gt;Can ship via FedEx or the U.S. Postal Service&lt;/li&gt;&lt;li&gt;For FedEx, drop it off at&amp;nbsp;your nearest FedEx location.&lt;/li&gt;&lt;li&gt;For the U.S. Postal Service, give it to your mail carrier or drop it off at&amp;nbsp;your nearest post office.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenLTReturnsOtherInStore</name>
        <label>screenLTReturnsOtherInStore</label>
        <locationX>2563</locationX>
        <locationY>858</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DamagedItemDisclaimerReturnsOtherInStore</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Please Note: Damaged Merchandise can only be returned by mail&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsItemOther1</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;A full refund to the original method of payment is offered for merchandise within 90 days of the date of sale&lt;/li&gt;&lt;li&gt;Returns after 90 days from placing an order will be credited at the lowest selling price as a credit to your Lord + Taylor account or as a gift card.&lt;/li&gt;&lt;li&gt;Original shipping charges are nonrefundable.&lt;/li&gt;&lt;li&gt;Merchandise must be unworn, unlaundered, and presented in salable condition with the original vendor packaging and tags.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsMethodInstore4</name>
            <fieldText>&lt;p&gt;&lt;b&gt;In-Store Returns&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You may return any items purchased at lordandtaylor.com at Lord + Taylor stores. Please note that we cannot accept returns at our outlet or clearance center locations. See &quot;Purchases Made At A Lord + Taylor Store&quot; above for details. Original shipping charges are nonrefundable.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Narvar_Links_LTReturnsOther</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://returns.narvar.com/lordandtaylor/returns?usertype=LT081017&quot; target=&quot;_blank&quot;&gt;Narvar link for agents&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenLTReturnsOtherMail</name>
        <label>screenLTReturnsOtherMail</label>
        <locationX>2493</locationX>
        <locationY>964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textLTReturnsOther2</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;A full refund to the original method of payment is offered for merchandise within 90 days of the date of sale&lt;/li&gt;&lt;li&gt;Returns after 90 days from placing an order will be credited at the lowest selling price as a credit to your Lord + Taylor account or as a gift card.&lt;/li&gt;&lt;li&gt;Original shipping charges are nonrefundable.&lt;/li&gt;&lt;li&gt;Merchandise must be unworn, unlaundered, and presented in salable condition with the original vendor packaging and tags.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLTReturnsMethodMail4</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Mail returns &lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Customer can generate a prepaid label through Narvar or the agent can do so&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://returns.narvar.com/lordandtaylor/returns?usertype=LT081017&quot; target=&quot;_blank&quot;&gt;Narvar link for agents&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Customer can get to Narvar by going to lordandtaylor.com/returns or clicking Start a return in their order history&lt;/li&gt;&lt;li&gt;Need order number and billing address to generate label&lt;/li&gt;&lt;li&gt;Pack return securely, in the original package if possible and include your printed invoice. Affix your shipping label to the package, making sure no other tracking labels are showing.&lt;/li&gt;&lt;li&gt;Can ship via FedEx or the U.S. Postal Service&lt;/li&gt;&lt;li&gt;For FedEx, drop it off at&amp;nbsp;your nearest FedEx location.&lt;/li&gt;&lt;li&gt;For the U.S. Postal Service, give it to your mail carrier or drop it off at&amp;nbsp;your nearest post office.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenMattressInBoxNo</name>
        <label>screenMattressInBoxNo</label>
        <locationX>1203</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkIsGotJunkServiceable</targetReference>
        </connector>
        <fields>
            <name>textMattressInBoxNo</name>
            <fieldText>&lt;p&gt;If the mattress is no longer in the box, use the GotJunk website below to determine if the address is serviceable:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.1800gotjunk.com/ca_en&quot; target=&quot;_blank&quot;&gt;https://www.1800gotjunk.com/ca_en&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>picklistGotJunkServiceable</name>
            <choiceReferences>choiceGotJunkServiceableYes</choiceReferences>
            <choiceReferences>choiceGotJunkServiceableNo</choiceReferences>
            <choiceReferences>Select_a_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_a_Value</defaultSelectedChoiceReference>
            <fieldText>Is the address serviceable by GotJunk?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenMattressInBoxYes</name>
        <label>screenMattressInBoxYes</label>
        <locationX>1336</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textMattressInBoxYes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: black;&quot;&gt;If the mattress is still in the box AND the box is still sealed with no noticeable damage, create a return label and schedule a pickup with Purolator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://hudsonbaycompany--tracbuild.lightning.force.com/lightning/r/Knowledge__kav/ka0S0000000AMcVIAW/view&quot; target=&quot;_blank&quot;&gt;More information can be found here&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenNeedOrderNumber</name>
        <label>screenNeedOrderNumber</label>
        <locationX>793</locationX>
        <locationY>1405</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignCaseOrderNumbe</targetReference>
        </connector>
        <fields>
            <name>textNeedOrderNumber</name>
            <fieldText>&lt;p&gt;The Case is not associated to an Order Number. An Order Number is required in order to move forward. Please enter a valid Order Number below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputTextOrdernNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Order_Number</elementReference>
            </defaultValue>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputTextOrdernDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Case_Order_Date</elementReference>
            </defaultValue>
            <fieldText>Order Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenNotApplicable</name>
        <label>screenNotApplicable</label>
        <locationX>336</locationX>
        <locationY>1683</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textNotApplicable</name>
            <fieldText>&lt;p&gt;This process only applies to Lord + Taylor or Hudson&apos;s Bay Business Units.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenOtherReturnInstructions</name>
        <label>screenOtherReturnInstructions</label>
        <locationX>1076</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Casper_Instructions_Display</name>
            <fieldText>&lt;p&gt;In-house delivery orders need to be transferred to the MHF team.&lt;/p&gt;&lt;p&gt;Try transferring to an MHR agent (warm transfer). If none are available, transfer the call to the MGF team but make sure to provide the case number to the customer for reference. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSpringwallReturnInstructions</name>
        <label>screenSpringwallReturnInstructions</label>
        <locationX>876</locationX>
        <locationY>585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Springwall_Instructions_Display</name>
            <fieldText>&lt;p&gt;Refund will be applied to original method of payment.&lt;/p&gt;&lt;p&gt;Returns are subject to a $100 restocking fee.&lt;/p&gt;&lt;p&gt;Items must be packaged and available for pickup in the same manner in which they were delivered.&lt;/p&gt;&lt;p&gt;Sameday Worldwide Process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Case_Information</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case_Business_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Order_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case_Order_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
